In [47]:
import pandas as pd
import numpy as np
import randDataSet
import string
import re

In [48]:
randDataSet.random_data(100)

In [49]:
df = pd.read_csv('datos_aleatorios.csv')
df.head()

,Fecha,Hora,Actividad,Originado,Receptor,IMEI,Duracion,Latitud,Longitud,Azimuth,Calle,Colonia,Municipio
0,2023-12-25 00:00:00,06:26:09,DATA,12345678,540467573871,1.234568e+14,NaN,['19.403464'],['-99.175982'],['180'],AV. JUAREZ/AV. HIDALGO,Centro,Guadalajara
1,2023-03-25 00:00:00,06:35:32,ENT,123,524656282853,NaN,3516.0,['19.403464'],['-99.175982'],['180'],AV. INSURGENTES/AV. REVOLUCION,Polanco,Guadalajara
2,2023-08-17 00:00:00,16:15:30,ENT,123456789012,437602534084,NaN,3381.0,['19.403464'],['-99.175982'],['180'],AV. JUAREZ/AV. HIDALGO,Polanco,Monterrey
3,2023-06-22 00:00:00,20:21:12,DATA,12345678,364607135616,1.234568e+14,NaN,['19.403464'],['-99.175982'],['180'],AV. JUAREZ/AV. HIDALGO,Centro,Ciudad de México
4,2023-05-28 00:00:00,01:57:16,ENT,12345678,867048554041,NaN,NaN,['19.403464'],['-99.175982'],['180'],AV. TEPEYAC/AV. PATRIA,Del Valle,Monterrey

In [50]:
lat = df.Latitud.apply(lambda x: re.sub(r'[\'\[\]]', '', x))
long = df.Longitud.apply(lambda x: re.sub(r'[\'\[\]]', '', x))
azi = df.Azimuth.apply(lambda x: re.sub(r'[\'\[\]]', '', x))
imei = df.IMEI.fillna(0).apply(lambda x: int(x))
OID = range(len(df))

In [58]:
d = {'OID': OID, 'Id': OID, 'POINT_X': long, 'POINT_Y': lat}
data = pd.DataFrame(data=d).set_index('OID')
data.head() #data Objetivo con lat y long

     Id     POINT_X    POINT_Y
OID
0     0  -99.175982  19.403464
1     1  -99.175982  19.403464
2     2  -99.175982  19.403464
3     3  -99.175982  19.403464
4     4  -99.175982  19.403464

In [57]:
cols = ['Latitud', 'Longitud', 'Azimuth','IMEI']
data2 = pd.concat([data, df.drop(cols,axis=1)],axis=1)
data2 #data completo limpio

,Id,POINT_X,POINT_Y,Fecha,Hora,Actividad,Originado,Receptor,Duracion,Calle,Colonia,Municipio
0,0,-99.175982,19.403464,2023-12-25 00:00:00,06:26:09,DATA,12345678,540467573871,NaN,AV. JUAREZ/AV. HIDALGO,Centro,Guadalajara
1,1,-99.175982,19.403464,2023-03-25 00:00:00,06:35:32,ENT,123,524656282853,3516.0,AV. INSURGENTES/AV. REVOLUCION,Polanco,Guadalajara
2,2,-99.175982,19.403464,2023-08-17 00:00:00,16:15:30,ENT,123456789012,437602534084,3381.0,AV. JUAREZ/AV. HIDALGO,Polanco,Monterrey
3,3,-99.175982,19.403464,2023-06-22 00:00:00,20:21:12,DATA,12345678,364607135616,NaN,AV. JUAREZ/AV. HIDALGO,Centro,Ciudad de México
4,4,-99.175982,19.403464,2023-05-28 00:00:00,01:57:16,ENT,12345678,867048554041,NaN,AV. TEPEYAC/AV. PATRIA,Del Valle,Monterrey
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,-99.175982,19.403464,2023-09-13 00:00:00,08:50:01,ENT,123456789012,778745490189,978.0,AV. JUAREZ/AV. HIDALGO,Del Valle,Monterrey
96,96,-99.175982,19.403464,2023-06-23 00:00:00,01:04:30,ENT,123456789012,979456088648,7.0,AV. JUAREZ/AV. HIDALGO,Del Valle,Monterrey
97,97,-99.175982,19.403464,2023-02-12 00:00:00,23:22:39,SAL,12345678,159325257886,1547.0,AV. JUAREZ/AV. HIDALGO,Centro,Ciudad de México
98,98,-99.175982,19.403464,2023-04-15 00:00:00,04:53:17,SAL,123456789012,836446500159,3029.0,AV. INSURGENTES/AV. REVOLUCION,Polanco,Monterrey
99,99,-99.175982,19.403464,2023-04-16 00:00:00,02:34:57,ENT,123,658026421826,1261.0,AV. INSURGENTES/AV. REVOLUCION,Polanco,Monterrey

In [11]:
# Objetivo
final = pd.read_csv('PuntosMuestreo.csv')
final
#OID_ consecutivo 0 al n
# ID se elimina

        OID_  Id       POINT_X       POINT_Y
0          0   0  479700.00001  2.299950e+06
1          1   0  479730.00001  2.299950e+06
2          2   0  479760.00001  2.299950e+06
3          3   0  479790.00001  2.299950e+06
4          4   0  479820.00001  2.299950e+06
...      ...  ..           ...           ...
75591  75591   0  476550.00001  2.314140e+06
75592  75592   0  476580.00001  2.314140e+06
75593  75593   0  476610.00001  2.314140e+06
75594  75594   0  476640.00001  2.314140e+06
75595  75595   0  476670.00001  2.314140e+06

[75596 rows x 4 columns]

In [ ]:
pip install